GameServiceClient/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GameController" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GameService.Model" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameController_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="IGameController_CreateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameController_TerminateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:TerminateGame" />
  </wsdl:message>
  <wsdl:message name="IGameController_TerminateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:TerminateGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameController_Guess_InputMessage">
    <wsdl:part name="parameters" element="tns:Guess" />
  </wsdl:message>
  <wsdl:message name="IGameController_Guess_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuessResponse" />
  </wsdl:message>
  <wsdl:message name="IGameController_NewGame_InputMessage">
    <wsdl:part name="parameters" element="tns:NewGame" />
  </wsdl:message>
  <wsdl:message name="IGameController_NewGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameController_ComputeScore_InputMessage">
    <wsdl:part name="parameters" element="tns:ComputeScore" />
  </wsdl:message>
  <wsdl:message name="IGameController_ComputeScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComputeScoreResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameController">
    <wsdl:operation name="CreateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameController/CreateGame" message="tns:IGameController_CreateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameController/CreateGameResponse" message="tns:IGameController_CreateGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TerminateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameController/TerminateGame" message="tns:IGameController_TerminateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameController/TerminateGameResponse" message="tns:IGameController_TerminateGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Guess">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameController/Guess" message="tns:IGameController_Guess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameController/GuessResponse" message="tns:IGameController_Guess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameController/NewGame" message="tns:IGameController_NewGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameController/NewGameResponse" message="tns:IGameController_NewGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComputeScore">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameController/ComputeScore" message="tns:IGameController_ComputeScore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameController/ComputeScoreResponse" message="tns:IGameController_ComputeScore_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGameController" type="tns:IGameController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateGame">
      <soap:operation soapAction="http://tempuri.org/IGameController/CreateGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminateGame">
      <soap:operation soapAction="http://tempuri.org/IGameController/TerminateGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guess">
      <soap:operation soapAction="http://tempuri.org/IGameController/Guess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewGame">
      <soap:operation soapAction="http://tempuri.org/IGameController/NewGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComputeScore">
      <soap:operation soapAction="http://tempuri.org/IGameController/ComputeScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameController">
    <wsdl:port name="BasicHttpBinding_IGameController" binding="tns:BasicHttpBinding_IGameController">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/GameService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>